@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise01: Basic form Processing";
    var customerName = Request.Form["nameEntry"];
    var thebutton = Request.Form["theButton"];

    string mealChoices = "";
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    //this true path is done IF this page is returning
    //from the previous sending

    //IF you have multiple buttons on your form, you SHOULD
    //determine which button was pressed; thus; dictating WHICH
    //logic is to be EXECUTED
    if (thebutton.Equals("submit"))
    {
        //the Press Me button was pressed
        if (string.IsNullOrEmpty(customerName))
        {
            <p style="color:firebrick">Please enter your name.</p>
        }
        else if (mealChoices.IsEmpty())
        {
            <p style="color:firebrick">Please choose one or more meals.</p>
        }
        else
        {
            <p>@customerName, I see that you have the following meal entries:</p>
            <ul>
                @foreach (var meal in mealChoices.Split(','))
                {
                    <li>@meal</li>
                }
            </ul>
        }
    }
    else
    {
        //the Clear button was pressed
        customerName = "";
        mealChoices = "";
    }
}

<form id="EX01" method="post">
    <div class="row">
        <div class="col-md-3">
            <p>Customer Name: </p>
            <br />
            <input type="text" name="nameEntry" value="@customerName" />
        </div>
        <div class="col-md-9">
            <label>Choose your meal items:</label><br />
            <input type="checkbox" id="MealGroup" name="MealGroup" value="Steak"
                   @(Array.IndexOf(mealChoices.Split(','), "Steak") >= 0 ? "checked" : "") />Steak<br />
            <input type="checkbox" id="MealGroup" name="MealGroup" value="Seafood"
                   @(Array.IndexOf(mealChoices.Split(','), "Seafood") >= 0 ? "checked" : "") />Seafood<br />
            <input type="checkbox" id="MealGroup" name="MealGroup" value="Vegetables"
                   @(Array.IndexOf(mealChoices.Split(','), "Vegetables") >= 0 ? "checked" : "") />Vegetables<br />
        </div>
    </div>
    <div class="row">
        <button type="submit" id="theButton" name="theButton"
                value="submit" class="btn btn-primary">
            Submit
        </button>&nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton"
                value="reset" class="btn btn-secondary">
            Reset
        </button>
    </div>
</form>